@import url('https://fonts.googleapis.com/css2? family= Castoro & family= Roboto+Condensed:wght@300 & display=swap');

/************************* CORES ***********************/

:root {
  --branco: #fff;
  --preto: rgba(#255,255,255,0);
  --cinzaclaro: #f4f4f4;
  --cinza: #ccd1d9;
  --cinzaescuro: #666666; 
  --dark: #033,37,41;
  --vermelho: #ef4035;
  --preto-hover: #242221;
  --pretoopaco: rgba(0,0,0,0.7);
  --cor-secundaria: #6986bfc7;
  --cor-secundaria2: #F22E52; 
  --verde: green;

}



.body {
  font-family: 'Roboto Condensed' sans-serif !important;
}

/***************************     NAVBAR        *******************************/

.nav {
  z-index: 2;
}

.logo {
  width: 7.50rem;
}

.nav-link {
  text-transform: uppercase;
}
.nav a.nav-link {
  font-size: .9rem;
  letter-spacing: 0.0375;
  cursor: pointer;
}

.nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.40rem;
  margin-left: 0.40rem;
  color: var(--branco) !important;
  border-top: 0.1050rem solid var(--preto);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem;
}

@media(max-width: 768px) {
  .navbar-brand {
    width:7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li >  a.active:focus {
  border-top: 0.1900rem solid var(--cor-secundaria2);
}

.navbar-nav > li > a:hover {
  border-top: 0.1050rem solid var(--cor-secundaria2);
}

/***************************     HEADER        *******************************/


.header-wraper {
  position: relative;
  background: url(imagens/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--branco);
  text-transform: uppercase;
}


.typed-text {
  font-size: 2rem;
  color: var(--dark);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.btn-promo {
  border: 1px solid var(--cor-secundaria);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10 !important;
  cursor: pointer;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--cor-secundaria2);
  margin: 2rem;
}

.btn-promo:hover {
  text-decoration: none;
  background-color: var(--cor-secundaria);
  transition: .2s ease-in-out;
}

/****************************** SOBRE ********************************/
.divfoto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.minhafoto {
  width: 17rem;
  height: 18rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--cor-secundaria2);
  
}

.title-sobre {
  color: var(--cor-secundaria2);
  text-transform: uppercase;
  font-weight: 200;
}

@media(max-width: 468px) {
  .minhafoto{
    width: 10rem;
    height: 11rem;
  }
}

/****************************** DESTINOS ********************************/
.destinos {
  text-align: center;
  padding-bottom: .2rem;
  background: var(--cinzaclaro);
}

.destinos h1 {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 200;
}

.destinos .circle {
  position: relative;
  margin: 0.374rem auto;
  background: #ef4035;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  margin-top: 3.125rem;
}

.destinos .box {
  height: 28rem;
  border-bottom: 0.200rem solid var(--cor-secundaria2);
  margin-bottom: 1.875rem ;
  padding-bottom: 0.625rem;
  background: var(--branco);
  transition: 0.3s ease-in-out;
}

.destinos .box:hover {
  cursor: pointer;
  background: var(--cinzaclaro);
  border-bottom: 0.200rem solid var(--vermelho-hover);
}

.destinos .box:hover .icon {
  color: var(--preto);
}

.destinos .box:hover .circle {
  background: var(--cinzaclaro);
}

.destinos .icon {
  font-size: 1.4rem;
  color: var(--branco);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pais {
  width: 15rem;
  height: 16rem;
  padding: .3rem;
}

.nomepais {
  font-weight: 200;
}

/****************************** ROTAS ********************************/

.rotas {
  padding: 0.7rem;
}

.rotas h1 {
  color: var(--cor-secundaria2);
  text-transform: uppercase;
  font-weight: 200;
}

.titlerota {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 200;
}

.rotas-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;

}

.rotas-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--cinza);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;

}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--vermelho-hover);
  background: var(--cor-secundaria2);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--cinzaescuro);
  direction: ltr;
}

.timeline-content {
  margin-top: 0.3125rem;
  color: var(--vermelho-hover);
  font-weight: 900;
}

.timeline-content .titlerota {
  margin-top: 0.3125rem;
  color: var(--cor-secundaria2);
}

@media (max-widht: 768px) {
  
  .rotas .container {
    padding-left: 0;
  }
  .rotas-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}


/****************************** PROMOÇÕES ********************************/

.promocoes-wrapper {
  background: var(--cinzaclaro);
  padding: 3rem 0;
}

.promocoes-wrapper h1 {
  color: var(--cor-secundaria2);
  font-weight: 200;
}

.promocoes-image {
  width: 16rem;
  height: 10rem;
  border: 1px solid var(--cor-secundaria2);
  padding: 0.5rem;
}

.promocoes-image-box {
  position: relative;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--preto-hover) ;
  width: 16rem;
  height: 10rem;
  top: 0;
  border: 1px solid var(--cor-secundaria2);
  cursor: pointer;
}

.promocoes-image-box:hover .overflow {
  opacity: 70%;
  transition: 0.3s ease-in-out;
}

.promocoes-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--cor-secundaria2);
  font-size: 1.5rem;
}

.promocoes-image-box:hover .promocoes-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.promocoes-image-popupbox {
  width: 30rem;
  padding: 0 0.5rem;

}

.hyper-link {
  cursor: pointer;
  color: var(--cor-secundaria2);
}

.hyper-link:hover {
  color: var(--cor-secundaria);
}

@media (max-width: 768px) {
  .promocoes-image-popupbox {
    width: 100%;
  }
}

@media (max-height: 570px) {
  
  .promocoes-wrapper {
    height: 100%;
  }
  .promocoes-image-popupbox {
    width: 40%;
  }
}

@media (max-height: 280px) {
  
  .promocoes-wrapper {
    height: 90%;
  }
  .promocoes-image-popupbox {
    width: 30%;
  }
}

/****************************** AVALIAÇÕES ********************************/

.avaliacoes {
  background-image: url(imagens/bg3.jpg);
  background-size: cover;
  background-color: var(--preto-hover);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.avaliacoes h1 {
  color: var(--cor-secundaria2);
  font-weight: 200;
  padding: 3rem 0;
  text-transform: uppercase;
}

.avaliacoes-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--pretoopaco);
}

.meucarousel {
  color: var(--branco);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.meucarousel h3 {
  color: var(--cor-secundaria2);
  font-weight: 600;
  text-transform: uppercase;
}

.meucarousel p {
  color: var(--cinza);
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

.avaliacoes .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

/***************************     CONTATO      *******************************/
 .contato {
   background: var(--preto-hover);
   padding: 3rem 0;
 }

 .contato h1 {
   color: var(--cor-secundaria2);
   padding: 1.3rem 0;
   text-transform: uppercase;
   font-weight: 200;
 }

 .contato p {
   color: var(--cinzaclaro);
   font-size: 1.2rem;
 }

 .contato input, .contato textarea {
   width: 100%;
   box-sizing: border-box;
   background: none;
   resize: none;
   border: 0;
   border-bottom: 0.125rem solid var(--cinzaescuro);
   border-radius: 0;
   color: var(--cinza);
   outline: 0 !important;
   box-shadow: none !important; 
   margin-bottom: 1rem;
   padding-left: 0 !important;
 }

.contato .container {
  padding: 4rem 0;
}

.contato input:focus, .contato textarea:focus {
  background: transparent;
  color: var(--cor-secundaria2);
  border-bottom: 0.125rem solid var(--cinzaescuro);
}

.contato textarea {
  height: 12.3rem !important; 
}

.btn-contato {
  border: 1px solid var(--cor-secundaria2);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--branco);
  margin: 2rem;
}

.btn-contato:hover {
  text-decoration: none;
  background-color: var(--cor-secundaria2);
  color: var(--branco);
  transition:  .2s ease-in-out;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--cor-secundaria2);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

@media (max-width:768px) {
  
  .contato {
    overflow-x: hidden;
  }
  
  .contato .container {
    padding: 0 1rem;
  }

  .contato p {
    padding: 0 0.4rem;
  }
}

/***************************** AJUSTES BACKEND **********************************/

.error-message {
  color: var(--branco);
  background: var(--cor-secundaria2);
  text-align: left;

}

.success-message {
  font-weight: 500;
  color: var(--verde);
}
